<h1 id="sap-sports-one-import-api-v0.1-internal">SAP Sports One Import API v0.1 (Internal)</h1>
<h2 id="disclaimer">Disclaimer</h2>
<p>This document is not part of the official SAP Sports One documentation. The service APIs described are not part of the official offering and SAP does not provide any guarantees for them. Furthermore, the APIs are neither guaranteed to be available nor accessible for customers or partners.</p>
<p>The services described may be subject to change at any time.</p>
<h2 id="about-this-document">About this document</h2>
<ul>
<li>Author: Sebastian Bächle <a href="mailto:sebastian.baechle@sap.com">sebastian.baechle@sap.com</a></li>
<li>Status: Draft</li>
<li>Classification: Internal</li>
</ul>
<h2 id="service-endpoint-description">Service Endpoint Description</h2>
<h3 id="retrieval-of-json-schema-specification-for-supported-entity-types">Retrieval of JSON Schema specification for supported entity types</h3>
<p>Retrieves the JSON Schema specification of the respective entity type</p>
<p><em>Method:</em> GET</p>
<p><em>URL:</em> <code>/sap/sports/imp/api/copyQueue/service/rest/copyQueue/{{ENTITY_TYPE}}/schema</code></p>
<p><em>URL Parameters:</em></p>
<ul>
<li>ENTITY_TYPE - Import entity type (PERSON, TEAM, CLUB, TEAM_MEMBER)</li>
</ul>
<p><em>Result:</em> Description of the expected JSON data structure in JSON Schema notation</p>
<h3 id="retrieval-of-csrf-cross-site-request-forgery-protection-token">Retrieval of CSRF (Cross-Site Request Forgery) protection token</h3>
<p>Retrieves a CSRF token for including in POST/DELETE/PUT requests for other service endpoints</p>
<p><em>Method</em>: GET</p>
<p><em>URL:</em> <code>/sap/sports/fnd/db/services/public/xs/token.xsjs</code></p>
<p><em>Request Headers</em></p>
<ul>
<li>X-CSRF-Token: Fetch</li>
</ul>
<p><em>Result:</em> Empty</p>
<p><em>Result Headers:</em></p>
<ul>
<li>X-CSRF-Token - The CSRF token for use in subsequent POST/DELETE/PUT requests</li>
</ul>
<h3 id="insertion-of-entities-into-the-import-queue">Insertion of entities into the import queue</h3>
<p>Inserts an entity into the import queue</p>
<p><em>Method:</em> POST</p>
<p><em>URL:</em> <code>/sap/sports/imp/api/copyQueue/service/rest/copyQueue/{{ENTITY_TYPE}}/v{{ENTITY_VERSION}}</code></p>
<p><em>URL Parameters:</em></p>
<ul>
<li>ENTITY_TYPE - Import entity type (PERSON, TEAM, CLUB, TEAM_MEMBER)</li>
<li>ENTITY_VERSION - Version of the entity schema (usually: 1)</li>
</ul>
<p><em>Request Headers:</em></p>
<ul>
<li>X-CSRF-Token: <token></li>
<li>Content-Type: 'application/json'</li>
</ul>
<p><em>Request Body:</em> Import entity according to JSON Schema description</p>
<p><em>Result</em>: List of inserted queue entries</p>
